@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #ffde00; /* Amarelo clássico */
    background-image: radial-gradient(#e5c700 15%, transparent 15%);
    background-size: 20px 20px;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background: white;
    border: 5px solid black;
    box-shadow: 15px 15px 0px black; /* Sombra sólida preta */
    padding: 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 3.5rem;
    color: black;
    text-shadow: 3px 3px 0px white, 6px 6px 0px black;
    margin-bottom: 20px;
    transform: rotate(-2deg); /* Inclinação estilo HQ */
}

.subtitulo { font-family: 'Bangers', cursive; margin-bottom: 15px; font-size: 1.5rem; }

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 3px solid black;
    font-size: 1.1rem;
    font-weight: bold;
}

.btn-main {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-family: 'Bangers', cursive;
    font-size: 1.6rem;
    cursor: pointer;
    border: 3px solid black;
    background: #ff0000; /* Botão Vermelho */
    color: white;
    box-shadow: 5px 5px 0px black;
    transition: 0.2s;
    text-transform: uppercase;
}

.btn-main:hover { transform: translate(-3px, -3px); box-shadow: 8px 8px 0px black; }

.lista-vertical { display: flex; flex-direction: column; }

.char-name-highlight {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    color: #e62429;
    text-shadow: 3px 3px 0px black;
    margin: 10px 0;
}

.img-container {
    position: relative;
    width: 100%;
    height: 350px;
    border: 6px solid black;
    margin: 15px auto;
    overflow: hidden;
    background: #f0f0f0;
}

.char-img { width: 100%; height: 100%; object-fit: cover; object-position: top; }

.comic-bang {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #ff0000;
    color: white;
    font-family: 'Bangers', cursive;
    padding: 8px 20px;
    border: 3px solid black;
    transform: rotate(-10deg);
    font-size: 1.5rem;
}